.menupaths {
  display: none;
}

.menuburger:hover {
  cursor: pointer;
  background-color: rgb(238, 216, 255);
  .menupaths {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-weight: normal;
    list-style: none;
    width: 100%;
    height: 38%;
    padding: 1.5rem;
    background-color: rgb(238, 216, 255);
    position: absolute;
    right: 0.00000001rem;
    text-align: center;
  }
}

a:link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

a {
  color: white;
}
.burgerImg {
  width: 2.3rem;
  height: 1.8rem;
  margin-top: 0.3rem;
  margin-right: 1.5rem;
}

.menucontainer {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin: auto;
}

.container__flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  color: white;
}

.menu_item {
  border-bottom: 1px solid white;
  width: 80%;
}
.logodesktop {
  display: none;
}
@media screen and (min-width: 400px) {
  .logodesktop {
    display: flex;
    margin-left: 2rem;
    width: 8rem;
  }
  .burgerImg {
    display: none;
  }

  .menupaths {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    gap: 6rem;
    position: absolute;
    list-style: none;
    text-decoration: none;
  }
  .menu_item {
    border-bottom: none;
  }

  .menuburger:hover {
    .menupaths {
      display: none;
    }
  }

  .menucontainer {
    justify-content: space-around;
    align-content: space-between;
  }
  .container__flex {
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    margin-top: 0.6rem;
  }
}
