.burgerImg {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
a:link {
  color: white;
  list-style: none;
  text-decoration: none;
}
.navlinks ul {
  flex-direction: row;
  display: flex;
  gap: 2.5rem;
  padding-top: 1.2rem;
  padding-right: 3rem;
}
.navlinks li {
  list-style: none;
}
.navlinks li a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  display: block;
}
.navlinks li a:hover {
  color: rgb(80, 11, 168);
  border-bottom: 1px solid rgb(80, 11, 168);
}
.navlinks li:hover {
  transform: scale(1.1);
  text-align: center;
}

@media screen and (max-width: 750px) {
  .navlinks li {
    display: none;
    text-align: center;
    list-style: none;
  }

  .burgerImg {
    display: flex;
    width: 2.3rem;
    height: 1.8rem;
    margin-top: 0.3rem;
    cursor: pointer;
    position: absolute;
    margin-right: 1rem;
  }
  .navlinks li a:hover {
    color: rgb(80, 11, 168);
    border-bottom: 1px solid rgb(80, 11, 168);
  }

  .navbar:hover {
    .navlinks li {
      display: block;
    }
    .navlinks ul {
      position: absolute;
    }
  }

  .navlinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    right: 0.000000001rem;
    width: 100%;
    height: 38%;
    margin-top: 2rem;
  }

  a:link {
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .navlinks li a {
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
  }
  .navlinks li:hover {
    transform: scale(1.1);
    text-align: center;
  }
}
