.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  height: 20vh;
  margin-bottom: 10%;
  &__icon {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0.5rem;
  }
}
