.figurelist {
  background-color: rgb(238, 216, 255);
  &__title {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(80, 11, 168);
    text-align: center;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    margin-top: 2.5rem;
    margin-right: 10%;
    margin-left: 10%;
  }
}
