.filterbutton {
  background-color: rgb(255, 140, 230);
  color: white;
  border: transparent;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.1rem 4rem;
  justify-self: center;
  width: 15rem;
  margin-right: 5vh;
  margin-left: 5vh;
}
.filterbutton:hover {
  background-color: rgb(80, 11, 168);
}
.containerbuttons {
  justify-self: center;
  align-self: center;
}
.filterbuttons {
  background-color: white;
  color: rgb(255, 140, 230);
  border: transparent;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.1rem 0.4rem;
  cursor: pointer;
}

.filterbuttons:hover {
  background-color: rgb(80, 11, 168);
}
.filtercontainer {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
}

.filter1 {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  column-gap: 0.2rem;
  row-gap: 0.3rem;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 14rem);
  margin-top: 1.5rem;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.pagebuttons {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 3rem;
  align-content: center;
  justify-content: center;
}

.prevbutton {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.prevbutton:hover {
  transform: scale(1.1);
}
.nextbutton {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.nextbutton:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 750px) {
  .container {
    grid-gap: 0.2rem;
    grid-template-columns: repeat(auto-fit, 24rem);
  }
  .filterbutton {
    font-size: 1.1rem;
    width: 25rem;
  }
  .filterbuttons {
    font-size: 1.1rem;
  }
  .filter1 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    column-gap: 0.5rem;
    row-gap: 0.3rem;
    flex-wrap: wrap;
  }

  .pagebuttons {
    display: flex;
    margin-top: 6rem;
    gap: 10rem;
    align-content: center;
    justify-content: center;
  }
  .prevbutton {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .nextbutton {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
}
